<footer>
    <p>Connect Us: cinemazing@cinamazing.com</p>
    <div class="social-icons">
        <a href="#"><img src="{{ url_for("static", filename="img/instagram.png") }}" alt="Instagram"></a>
        <a href="#"><img src="{{ url_for("static", filename="img/twitter.png") }}" alt="Twitter"></a>
        <a href="#"><img src="{{ url_for("static", filename="img/facebook.png") }}" alt="Facebook"></a>
        <a href="#"><img src="{{ url_for("static", filename="img/discord.png") }}" alt="Discord"></a>
    </div>
</footer>